body{
    font-family: 'Poppins', sans-serif;
}

.top-section{
    display: flex;
    color: darkslategray;
}

.half-width{
    width: 50%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-right: 5%;
    padding-right: 2%;
}

#head-charm{
    font-size: 40px;
}

.orange-text{
    color: orange;
}

.button{
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #FBA24F, #FF1E1E);
    padding: 10px;
    border-radius: 20px;
}

#top-image{
    height: 500px;
}